{% extends 'mainapp/parent.html' %}


{% block title %}
Password changed
{% endblock %}

{% block content %}
<form action="{% url 'password_reset_complete' %}" method="post">
    {% csrf_token %}
</form>
<div class="name-test-log">
    <div>
        <p class="name-maincontent"> YOUR PASSWORD HAS BEEN RESET</p>
    </div>
</div>
<div class="name-test-log">
    <button onclick="window.location.href='{% url 'login' %}'" class="name-createmain-btn"
            style="background-color: #C0C0C0; margin: auto;" type="submit">LOG IN
    </button>
</div>
{% endblock %}