{% extends 'mainapp/parent.html' %}


{% block title %}
Reset password
{% endblock %}

{% block content %}
<div class="name-test-log">
    <br>
    <a class="name-logreg" style="font-size: 85%;">INSTRUCTIONS WILL BE SENT ON YOUR EMAIL</a>
    <br>
</div>
<div class="name-test-log">
    <form action="{% url 'password_reset' %}" method="post">
        {% csrf_token %}
        <a class="name-logreg">EMAIL</a>
        <p>{{ form.email }}</p>
        <button class="name-createmain-btn" style="background-color: #C0C0C0; margin: auto;" type="submit">SEND MESSAGE
        </button>
    </form>
</div>
{% endblock %}