{% extends 'mainapp/parent.html' %}


{% block title %}
Password has been changed
{% endblock %}

{% block content %}
<div class="name-test-log">
    <div>
        <p class="name-maincontent"> YOUR PASSWORD HAS BEEN CHANGED</p>
    </div>
</div>
<div class="name-test-log">
    <button onclick="window.location.href='{% url 'profile' user.profile.slug %}'" class="name-createmain-btn"
            style="background-color: #C0C0C0; margin: auto; width: 140px;" type="submit">BACK TO ACCOUNT
    </button>
</div>
{% endblock %}