{% extends 'mainapp/parent.html' %}


{% block title %}
Change password
{% endblock %}

{% block content %}
<div class="name-test-log">
    <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        {% if form.errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}
            {% else %}
            {% endif %}
        </p>
        {% endif %}
        <a class="name-logreg">OLD PASSWORD</a>
        <p>{{ form.old_password }}</p>
        <a class="name-logreg">NEW PASSWORD</a>
        <p>{{ form.new_password1 }}</p>
        <a class="name-logreg">CONFIRM PASSWORD</a>
        <p>{{ form.new_password2 }}</p>
        <br>
        <button class="name-createmain-btn" style="background-color: #C0C0C0; margin: auto;" type="submit">CHANGE
        </button>
    </form>
</div>
<div>
    {% if form.errors %}
    <a style="font-size: 85%; color: gray; margin-left: 15px;">ERROR!<br>
        {{ form.old_password.errors }}
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
    </a>
    {% endif %}
</div>
{% endblock %}