{% extends 'mainapp/parent.html' %}


{% block title %}
Change password
{% endblock %}

{% block content %}
<div class="name-test-log">
    <form method="post">
        {% csrf_token %}
        <a class="name-logreg">OLD PASSWORD:</a>
        <p>{{ form.old_password }}</p>
        <a class="name-logreg">NEW PASSWORD:</a>
        <p>{{ form.new_password1 }}</p>
        <a class="name-logreg">CONFIRM PASSWORD:</a>
        <p>{{ form.new_password2 }}</p>
        <br>
        <button class="name-createmain-btn" style="background-color: #C0C0C0; margin: auto; width: 150px;"
                type="submit">CHANGE PASSWORD
        </button>
        <br>
    </form>
</div>
<div>
    <a style="font-size: 85%; color: gray; margin-left: 15px;">REMINDER <br>
        {{ form.new_password1.help_text }}
    </a>
</div>
{% endblock %}