{% extends 'mainapp/parent.html' %}


{% block title %}
Email sent
{% endblock %}

{% block content %}
<div class="name-test-log">
    <div>
        <a class="name-maincontent">TO RESET PASSWORD CHECK YOUR EMAIL BOX</a>
    </div>
</div>
<div class="name-test-log">
    <div>
        <p class="name-maincontent">WE HAVE SENT YOU FOLLOWING INSTRUCTIONS THERE</p>
    </div>
</div>
<div class="name-test-log">
    <button onclick="window.location.href='{% url 'home' %}'" style="margin: 0 auto;" class="name-createmain-btn">BACK
        TO
        HOME
    </button>
</div>
{% endblock %}