{% extends 'mainapp/parent.html' %}


{% block title %}
New password
{% endblock %}

{% block content %}
<div class="name-test-log">
    <form method="post">{% csrf_token %}
        <input style="visibility: hidden;" class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
        <div class="form-row field-password1">
            <a class="name-logreg">NEW PASSWORD</a>
            <p>{{ form.new_password1 }}</p>
        </div>
        <div class="form-row field-password2">
            <a class="name-logreg">CONFIRM PASSWORD</a>
            <p>{{ form.new_password2 }}</p>
        </div>
        <br>
        <button class="name-createmain-btn" style="background-color: #C0C0C0; margin: auto;" type="submit">RESET
            PASSWORD
        </button>
        <br>
    </form>
</div>
<div>
    <a style="font-size: 85%; color: gray; margin-left: 15px;">REMINDER <br> {{ form.new_password1.help_text }} </a>
</div>
{% endblock %}