body {
    background: #E0E0E0;
}

nav {
    background: #C0C0C0;
    line-height: 100%;
}

.name-lol {
    margin-left: 950px;
    margin-top: 11px;
    position: fixed;
    z-index: 1;
}

.name-navigationbar {
    margin-left: 5px;
    font-size: 97%;
    color: black;
    cursor: default;
}

.name-navigationbar:hover {
    color:black;
}

.name-maincontent {
    color: gray;
    text-decoration: none;
}

.name-maincontent:hover {
    color: gray;
    cursor: text;
}

.nav-link {
    color: gray;
    font-size: 80%;
    transition: color .1s linear;
    transition: font-size .1s linear;
}

.nav-link:hover {
    color: #535353;
    font-size: 85%;
}

.name-nav-link-child {
    color: gray;
    font-size: 80%;
    text-decoration: none;
    cursor: default;
    transition: color .1s linear;
}

.name-nav-link-child:hover {
    color: gray;
}

.name-newsbox {
    border: 5px solid #C0C0C0;
    border-radius: 5px;
    background: #C0C0C0;
    margin: 15px;
}

.name-datenews {
    color: #686868;
    text-align: right;
    font-size: 60%;
}

.name-previewnews {
    font-size: 85%;
    font-weight: 600;
    color: #686868;
}

.create-news-button {
    border: 5px solid #C0C0C0;
    border-radius: 5px;
    background: #C0C0C0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.name-news-btn {
   margin: 0 auto;
   margin-top: 5px;
   display: block;
   background: #C0C0C0;
   border: 3px solid #C0C0C0;
   border-radius: 5px;
   width: 100px;
   transition: color .1s linear;
}

.name-news-btn:hover {
    color: #787878;
}

.name-delete-popup {
   display: block;
   background: #E0E0E0;
   border: 3px solid #E0E0E0;
   border-radius: 5px;
   width: 130px;
   color: gray;
   font-size: 80%;
   transition: color .1s linear;
   transition: font-size .1s linear;
   text-decoration: none;
}

.name-update-btn {
   display: block;
   background: #E0E0E0;
   border: 3px solid #E0E0E0;
   border-radius: 5px;
   width: 130px;
   color: gray;
   font-size: 80%;
   transition: color .1s linear;
   transition: font-size .1s linear;
}

.name-update-btn:hover {
    color: #535353;
    font-size: 81%;
}

.name-form-news {
    width: 500px;
}

.name-popup-btn {
    display: block;
    background: #E0E0E0;
    border: 3px solid #E0E0E0;
    border-radius: 5px;
    width: 130px;
    color: gray;
    font-size: 80%;
    transition: color .1s linear;
}

.name-popup-btn:hover {
    color: #535353;
}

.name-createmain-btn {
    margin-left: 16px;
    display: block;
    background: #C0C0C0;
    border: 3px solid #C0C0C0;
    border-radius: 5px;
    width: 130px;
    color: gray;
    font-size: 80%;
    transition: color .1s linear;
    transition: font-size .1s linear;
}

.name-createmain-btn:hover {
    color: #535353;
    font-size: 81%;
}

.name-profile-btn {
    margin: auto;
    display: block;
    background: #E0E0E0;
    border: 3px solid #E0E0E0;
    border-radius: 5px;
    width: 140px;
    color: gray;
    font-size: 80%;
    transition: color .1s linear;
    transition: font-size .1s linear;
}

.name-profile-btn:hover {
    color: #535353;
    font-size: 81%;
}

.name-detailcontent {
    background: #C0C0C0;
    border: 3px solid #C0C0C0;
    border-radius: 5px;;
}

.name-del {
    padding: 0;
    margin-left: 10px;
}

.name-news-create-btn {
    color: gray;
    font-size: 80%;
}

.container-buttons {
    display: flex;
    justify-content: space-around;
}

.name-test-log {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
}

.name-logreg {
   color: gray;
   font-size: 80%;
   text-decoration: none;
   cursor: default;
   transition: color .1s linear;
}

.name-logreg:hover {
    color: gray;
}

/* MODAL WINDOW */
.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .4);
    background-color: white;
    padding: 30px;
}
.popup__text {
    text-align: center;
}
/* END OF MODAL WINDOW */

/* PROFILE */
.gradient-custom {
    background: #f6d365;
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
}

/* END OF PROFILE */

