{% extends 'mainapp/parent.html' %}


{% block title %}
Home
{% endblock %}

{% block content %}
<main class="page">
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <span class="hero-subtitle">A place where</span>
                <h1 class="hero-title">
                    A&nbsp;creative agency for redemptive brands
                </h1>
                <p class="hero-descr">Gorgeous is&nbsp;a&nbsp;leading strategic design firm thot builds powerful digital
                    solutions for startups and enterprises.</p>
                <a href="#" class="hero-link link">Get in touch</a>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <h2 class="site-title services-title">
                Deation &amp;&nbsp;Evalution&nbsp;&mdash; Best way to&nbsp;kick off Your Product Idea.
            </h2>
            <ul class="services-list list-reset">
                <li class="services-item">
                    <h3 class="services-subtitle">Product Design Sprint</h3>
                    <p class="services-descr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt
                        ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat.
                    </p>
                    <a href="#" class="services-link">Read More</a>
                </li>
                <li class="services-item">
                    <h3 class="services-subtitle">Scoping Session</h3>
                    <p class="services-descr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt
                        ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat.
                    </p>
                    <a href="#" class="services-link">Read More</a>
                </li>
                <li class="services-item">
                    <h3 class="services-subtitle">UX <br> Review</h3>
                    <p class="services-descr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt
                        ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat.
                    </p>
                    <a href="#" class="services-link">Read More</a>
                </li>
                <li class="services-item">
                    <h3 class="services-subtitle">Code <br> Review</h3>
                    <p class="services-descr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do&nbsp;eiusmod tempor incididunt
                        ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat.
                    </p>
                    <a href="#" class="services-link">Read More</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="get-started">
        <div class="container">
            <h2 class="get-started-title">
                Let&rsquo;s make something amazing together.
            </h2>
            <a href="#" class="get-started-link link">Let's get started</a>
        </div>
    </section>
</main>
{% endblock %}