{% extends 'mainapp/parent.html' %}


{% block title %}
{{ news_data.title }}
{% endblock %}

{% block content %}
<div class="features">
    <h1>{{ news_data.title }}</h1>
    <p class="name-previewnews">Publish date: {{ news_data.date }}</p>
    <div class="name-detailcontent">
        <a>{{ news_data.content }}</a>
    </div>
    <br>
    <button class="name-createmain-btn" style="margin-left: 0px;" onclick="window.location.href='{% url 'news'%}'">
        BACK
    </button>
</div>
{% endblock %}