{% extends 'mainapp/parent.html' %}


{% block title %}
Update article
{% endblock %}

{% block content %}
<div class="features">
    <a style="color: gray; font-size: 80%; margin-top: 5px;">ARTICLE UPDATE FORM</a>
    <form class="name-form-news" method="post">
        {% csrf_token %}
        {{ form.preview }}<br>
        {{ form.content }}<br>
        <span>{{ error }}</span>
        <button class="name-createmain-btn" style="margin-left: 1px;" type="submit">UPDATE ARTICLE</button>
        <a style="visibility: hidden;">{{ form.title }}</a>
    </form>
</div>
{% endblock %}