{% extends 'mainapp/parent.html' %}


{% block title %}
Account
{% endblock %}

{% block content %}
<div class="name-test-log">
    <p class="name-maincontent">WELCOME TO YOUR PERSONAL ACCOUNT, {{ user.username }}!</p>
    <div class="row">
        <div class="col" style="text-align: right;">
            <a class="name-logreg">USERNAME:</a><br>
            <a class="name-logreg">EMAIL:</a><br>
            <a class="name-logreg">FIRST NAME:</a><br>
            <a class="name-logreg">LAST NAME:</a><br>
            <a class="name-logreg">DATE JOINED:</a><br>
        </div>
        <div class="col" style="text-align: left; margin-left: 40px;">
            <a style="font-size: 80%;">{{ user.username }}</a><br>
            <a style="font-size: 80%;">{{ user.email }}</a><br>
            <a style="font-size: 80%;">{{ user.first_name }}</a><br>
            <a style="font-size: 80%;">{{ user.last_name }}</a><br>
            <a style="font-size: 80%;">{{ user.date_joined.date }}</a><br>
        </div>
    </div>
    <div style="justify-content: center;">
        <br><a class="name-logreg">PHOTO</a><br>
    </div>
    <br>
    <button onclick="window.location.href='{% url 'change_info' user.slug %}'" class="name-createmain-btn"
            style="margin: auto; width: 250px;">CHANGE ACCOUNT INFORMATION
    </button>
</div>
{% endblock %}